@model IEnumerable<Course>
@{
    ViewData["Title"] = "Courses";
    // Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Courses</h1>

<div class="mb-3 container d-flex justify-content-between">
    <div>
        <a asp-action="New" class="btn btn-primary">Create New Couse</a>
    </div>
    <div>
        <!-- search section -->
        <form method="get" asp-action="Search" class="form-inline my-2 my-lg-0 d-flex gap-1">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search" name="searchString" value="@ViewData["CurrentFilter"]">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Degree</th>
                <th>MinDegree</th>
                <th>Hours</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Name</td>
                    <td>@course.Degree</td>
                    <td>@course.MinDegree</td>
                    <td>@course.Hours</td>
                    <td>@course.Department?.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning">Edit</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

